.functions {
  padding-top: 269px;
  padding-bottom: 240px;
  position: relative;
  &__head {
    display: flex;
    justify-content: center;
    margin-bottom: 74px;
    position: relative;
    h2 {
      margin-bottom: 10px;
    }
  }
  &__text {
    max-width: 850px;
    text-align: center;
  }
  &__col {
    @include col(4);
    @include col-md(6);
    @include col-sm(12);
    margin-bottom: $gutter;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: skewY(-10deg);
  }
  @media (max-width: $break_sm) {
    padding-top: 135px;
    padding-bottom: 48px;
    &__head {
      margin-bottom: 50px;
    }
    &__text {
      text-align: left;
    }
    &:before {
      transform: skewY(-4deg);
    }
  }
}
