.organizers {
  padding-top: 272px;
  padding-bottom: 130px;
  background-color: #F9F8F8;
  position: relative;
  &__title {
    text-align: center;
    position: relative;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    &--mt {
      margin-top: -46px;
    }
  }
  &__content {
    max-width: 480px;
    padding-top: 90px;
    padding-bottom: 50px;
  }
  &__text {
    h3 {
      font-weight: bold;
      margin-bottom: 6px;
    }
    ul {
      padding-left: 34px;
      margin-bottom: 20px;
      li {
        margin-bottom: 12px;
        position: relative;
        &:before {
          content: '';
          display: block;
          width: 7px;
          height: 7px;
          background-color: $green;
          border-radius: 100%;
          position: absolute;
          left: -30px;
          top: 10px;
        }
      }
    }
    p {
      margin-bottom: 10px;
      font-weight: bold;
    }
    &--blue {
      h3 {
        color: $blue;
      }
    }
    &--green {
      h3 {
        color: $green;
      }
    }
  }
  &__icon {
  }
  &__img {
    max-width: 830px;
    flex-shrink: 0;
    &--left {
      margin-left: -195px;
    }
    &--right {
      margin-right: -195px;
    }
  }
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom right, #fff 50%, #F9F8F8 51%);
    position: absolute;
    top: 0;
    left: 0;
  }
  @media (max-width: $break_md) {
    &__img {
      max-width: 600px;
      &--right {
        margin-right: -250px;
      }
      &--left {
        margin-left: -250px;
      }
    }
  }
  @media (max-width: $break_sm) {
    padding-top: 165px;
    &:before {
      height: 40px;
    }
    &__title {
      text-align: left;
    }
    &__row {
      flex-wrap: wrap;
      &--mt {
        margin-top: 0;
        .organizers__img {
          order: 2;
        }
        .organizers__content {
          order: 1;
        }
      }
    }
    &__content {
      padding-top: 18px;
      padding-bottom: 0;
    }
    &__text {
      h3 {
        margin-bottom: 12px;
      }
      &--green {
        h3 {
          font-size: 30px;
          line-height: 47px;
        }
      }
    }
    &__img {
      max-width: 830px;
      &--right {
        margin-top: -35px;
        margin-right: 0;
        margin-left: -100px;
      }
      &--left {
        margin-left: -133px;
      }
    }
  }
}